.card__image {
  width: 325px;
  height: 325px;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #e9e9e9;
  transition: 0.2s ease;
}

.card__image:hover {
  opacity: 0.7;
}

.card__name {
  text-align: center;
  padding: 2px 12px;
  border-radius: 4px;
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}

.card__container {
  position: relative;
  max-height: 325px;
}

.card__like-button {
  margin-left: 20px;
  position: absolute;
  width: 20px;
  height: 17px;
  border: none;
  background: transparent url(../../images/likeButton.svg) no-repeat center;
}

.card__like-button_liked {
  background: url(../../images/likeButtonLiked.svg) no-repeat center;
}
