.main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main__title {
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 34px;
  margin-top: 40px;
}

.main__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  max-width: 100%;
  padding: 0;
  gap: 20px;
}

@media screen and (max-width: 640px) {
  .main__items {
    grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
  }
}

@media screen and (max-width: 430px) {
  .main__items {
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
    gap: 15px;
  }
}
