.side__section {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.side__profile-container {
  display: flex;
}

.side__logo {
  width: 56px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.5) 50%;
}

.side__title {
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 157px;
  margin: 16px 0 16px 16px;
}

.side__options-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
}

.side__button {
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  margin: 0;
  transition: 0.2s ease;
  border: none;
  background-color: #f3f3f3;
}

.side__button:hover {
  opacity: 0.6;
  cursor: pointer;
}
